.addpost {
  //padding-top: 50px;
  height: 50vw;

  &__title{
    font-size: 50px;
    font-weight: 800;
    text-align: center;
  }
&__img{
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}


  &__form {
    position: relative;
    width: 70vw;
    top: -1rem;
  }


  &__formGroup {
    margin-left: 150px;
    margin-top: -2rem;
    display: flex;
    align-items: center;
   // margin-top: -5rem;
  }
  &__formGroup1{
    margin-left: 150px;
    display: flex;
    align-items: center;
    margin-top: -5rem;
  }
  &__icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(121, 119, 119);
    cursor: pointer;
  }
  &__input {
    font-size: 20px;
    padding: 20px;
    width: 70vw;
    height: 4vw;
  }
  &__input:focus {
    outline: none;
  }

  &__input1 {
    font-size: 20px;
    padding: 20px;
    width: 70vw;
    margin-top: 3rem;
    margin-left: 11.5rem;
    height: 13vw;
  }
  &__input2{
    font-size: 20px;
    padding: 20px;
    width: 70vw;
    height: 50px;
    margin-left: 11.5rem;
  }
  &__submit {
    margin-top: 1rem !important;
    position: absolute;
    font-size: 16px;
   // bottom: 15rem;
   right: 1rem;
    color: white;
    background-color: teal;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    
    width: 10vw;
  }
}
