.settings {
  display: flex;
  &__wrapper {
    flex: 9;
    padding: 20px;
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__updateTitle {
    font-size: 30px;
    margin-bottom: 20px;
    color: lightcoral;
  }
  &__deleteTitle {
    color: red;
    font-size: 12px;
    cursor: pointer;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }
  &__profilepic {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }

  &__profilepic > &__img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
  }

  &__icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: lightcoral;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -3rem;
    cursor: pointer;
  }

  &__form > label {
    font-size: 20px;
    margin-top: 20px;
  }

  &__form > input {
      color: gray;
      margin: 10px 0;
      height: 30px;
  }

  &__submit{
      width:150px ;
      align-self: center;
      border-radius: 10px;
      color: white;
      background-color: teal;
      padding: 10px;
      margin-top: 20px;
      cursor: pointer;
  }
}
