.header {
    width: 100rem !important;
    height: 50px;
    background-color: #242424;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: "Josefin Sans", sans-serif;
    z-index: 999;
    @media screen and (min-width: 768px){
      width: 60rem;
  }
  @media screen and (min-width: 1024px){
    width: 70rem;
}
@media screen and (min-width: 1440px){
  width: 85rem;
}
    &__left,
    &__right {
      flex: 3;
      //background-color: brown;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__icons {
      font-size: 20px;
      margin-right: 10px;
      color: #fff;
      cursor: pointer;
    }
    &__center {
      flex: 6;
    }
    &__list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0;
      padding: 0;
      list-style: none;
    }
    &__items {
      margin-right: 20px;
      font-size: 18px;
      font-weight: 300;
      cursor: pointer;
      color: #fff;
    }
    &__img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
    &__searchIcon{
  font-size: 18px;
  color:#fff;
  cursor: pointer;
  margin-left: 15px;
    }

    &__link{
      text-decoration: none;
      color: black;
    }
  }