.singlepage {
  display: flex;
  // justify-content: center;
  width: 50vw;
  margin-left: 25rem;
  height: 50vw;
  @media screen and (min-width: 768px) {
    width: 90vw;
    height: 100vw;
    margin-left: 5rem;
  }
  @media screen and (min-width: 1024px) {
    width: 70vw;
    height: 100vw;
    margin-left: 5rem;
  }
  @media screen and (min-width: 1440px) {
    width: 70vw;
    height: 100vw;
    margin-left: 5rem;
  }
  &__wrapper {
    padding: 20px;
    padding-right: 0;
    @media screen and (min-width: 1440px) {
      padding: 5rem;
     // padding: 20px;
      //padding-right: 0;
    }
  }
  &__img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
  }
  &__title {
    text-align: center;
    margin: 10px;
    font-family: "Loras", serif;
    font-size: 28px;
    font-weight: 600;
    @media screen and (min-width: 768px) {
      font-size: 40px;
    }
  }
  &__edit {
    float: right;
    font-size: 16px;
  }
  &__icon {
    margin-left: 10px;
    cursor: pointer;
  }
  &__icon1 {
    margin-top: 10px;
    padding-bottom: 35px;
    cursor: pointer;
    margin-right: 50rem;
    font-size: 20px;
    white-space: nowrap;
    color: black;
  }

  // &__icon:first-child{
  //     color: teal;
  // }
  // &__icon:last-child{
  //     color: tomato;
  // }
  &__info {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #6f4d03;
    font-family: "Varela Round", sans-serif;
  }
  &__author {
    font-weight: 800;
    font-size: 25px;
    @media screen and (min-width: 768px) {
      font-size: 25px;
    }
    @media screen and (min-width: 768px) {
      font-size: 25px;
    }
  }

  &__desc {
    color: rgb(92, 88, 88);
    font-size: 18px;
    line-height: 25px;
    font-weight: 800;
    @media screen and (min-width: 768px) {
      font-size: 24px;
    }
    @media screen and (min-width: 1024px) {
      font-size: 24px;
    }
  }

  &__desc::first-letter {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
    color: black;
  }

  &__link {
    color: teal;
  }
  &__icons {
    color: tomato;
    margin-left: 10px;
    cursor: pointer;
  }
  &__commentsection{
    @media screen and (min-width: 768px) {
      margin-top: -5rem;
    }
    @media screen and (min-width: 1024px) {
      margin-top: -20rem;
    }
    @media screen and (min-width: 1440px) {
      margin-top: -55rem;
    }
  }
 
}
