.sidebar {
  flex: 3;
  margin: 10px;
  padding-top: 10px;
  margin-right: 1rem;
  background-color: rgb(232, 232, 205);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-family: 'Varela Round', sans-serif;
    font-size: #222;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
  }
  &__item > &__img {
    margin-top: 10px;
  }
  &__img{
    width: 150px;
    height: 150px;
   // border-radius: 50%;
    object-fit: cover;
  }
  &__item > &__para {
    margin-top: 15px;
  }
  &__para{
      flex-wrap: wrap ;
      width: 350px;
  }
  &__list{
      list-style: none;
      margin-bottom: 30px;
      display:inline-block ;
     
  }
  &__items{
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
  }
&__social{
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  &__icons {
    font-size: 16px;
    margin-left: 10px;
    color: #444;
    cursor: pointer;
  }
}
