.herosection{
     background: url('../../assets/images/img-home.jpg') center center/cover no-repeat; 
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
   &__video{
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: -1;
   }
&__buttons{
   margin:6px;
   margin-right: 60rem;
}
   &__btn{
      margin-top: 32px;
      margin-right: 0rem;
   }

}

.herosection> h1{
   color:#fff;
   font-size: 80px;
   margin-top: -100px;
   margin-right: 55rem;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.herosection> p{
   color:#fff;
   font-size: 32px;
   margin-top: 8px;
   margin-right: 55rem;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.fa-play-circle{
   margin-left: 4px;
}