.blogs {
  // width: 385px;
  padding: 4rem;
  background: #fff;
  &__text {
    text-align: center;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 768px){

      justify-content: center;
      align-items: center;
  }
  }
  &__wrapper {
      display: flex;
    position: relative;
    margin: 50px 0 45px;
  }
  &__items {
    margin-bottom: 24px;
    @media screen and (min-width: 768px){
      width: 70vw;
  }
    @media screen and (min-width: 1024px){
      display: flex;
        width: 70vw;
       
    }
    @media screen and (min-width: 1440px){
      display: flex;
        width: 30vw;
       
    }
  
  }
  &__link{
    text-decoration: none;
  }
}
