.blogs {
  padding: 4rem;
  background: #fff;
  &__text {
    text-align: center;
  }
  &__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;

    @media screen and (min-width: 1200px){
        width: 84%;
    }
  }
  &__wrapper {
      display: flex;
    position: relative;
    margin: 50px 0 45px;
  }
  &__items {
    margin-bottom: 24px;
    @media screen and (min-width: 1024px){
        width: 30vw;
        display: flex;
    }
  }
}
