.editpost {
  // padding-top: 50px;
  height: 50vw;
  width: 70vw;

  &__flex{
    display: flex;
align-items: center;
justify-content: space-between;
  }
  &__title{
    font-size: 50px;
    font-weight: 800;
    margin-right: 20rem;
  }
  &__img {
    margin-left: 20rem;
    width: 50vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
  }

  &__form {
    position: relative;
  }

  &__formGroup {
    margin-left: 150px;
    display: flex;
    align-items: center;
    margin-top: -2rem;
  }
  &__icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(121, 119, 119);
    cursor: pointer;
  }
  &__icon1{
   // margin-top: 10px;
    //padding-bottom: 35px;
    cursor: pointer;
    margin-left: 20rem;
    font-size: 20px;
    white-space: nowrap;
    color: black;
  }
  &__input {
    font-size: 30px;
    padding: 20px;
    width: 70vw;
    height: 50px;
  }

  &__input:focus {
    outline: none;
  }

  &__input1 {
    font-size: 20px;
    padding: 20px;
    width: 70vw;
    margin-top: 3rem;
    margin-left: 11.5rem;
    height: 13vw;
  }
  
  &__input2 {
    font-size: 20px;
    padding: 20px;
    width: 70vw;
    height: 50px;
    margin-left: 11.5rem;
  }

  &__submit {
    font-size: 16px;
    background-color: teal;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 2rem !important;
    margin-right: -60rem !important;
    width: 10vw;
  }
}
